* {
	box-sizing: border-box;
}

h1 {
	margin: 10px;
}

img {
	width: 250px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: block;
}

.header {
	height: 75px ;
	background-color: grey;
}

.header-link {
	font-size: 20px;
	margin: 15px;
	display: inline;
}

.main-body {
	margin: 10px 10px 10px 10px;
}

.start-text {
	font-size: 1.4em;
	text-align: center;
}

.start-display {
	margin-top: 100px;
}

.start-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size: 2em;
}

.quiz-app {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.quiz-question {
	border: 1px solid grey;
}

.quiz-question-text {
	font-size: 1.5em;
	text-align: center;
}

.answer-1, .answer-2, .answer-3, .answer-4 {
	font-size: 1.2em;
	text-align: center;
	border: 1px solid grey;
}

.answer-1:hover, .answer-2:hover, .answer-3:hover, .answer-4:hover {
	background-color: lightgrey;
}

.correct, .missed{
	display: inline-block;
	text-align: left;
	margin-right: 15px;
}

.remaining {
	display: inline-block;
	margin-left: 15px;
}

.current-question {
	display: inline-block;
	margin-left: 199px;
}

.next-button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	height: 50px;
	font-size: 1.2em;
}

.hidden {
	display: none;
}

