* {
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

h1 {
	margin: 10px;
}

img {
	width: 250px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: block;
}

.header {
	height: 75px ;
	background-color: grey;
}

.header-link {
	font-size: 20px;
	margin: 15px;
	display: inline;
}

.main-body {
	margin: 10px 10px 10px 10px;
}

.start-text {
	font-size: 1.4em;
	text-align: center;
}

.start-display {
	margin-top: 100px;
}

.start-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size: 2em;
}

.quiz-app {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.quiz-question {
	border: 1px solid grey;
}

.quiz-question-text {
	font-size: 1.5em;
	text-align: center;
}

.answer-a, .answer-b, .answer-c, .answer-d {
	font-size: 1.2em;
	text-align: center;
	border: 1px solid grey;
}

.answer-a:hover, .answer-b:hover, .answer-c:hover, .answer-d:hover {
	background-color: lightgrey;
}

.correct {
	display: inline-block;
	float: left;
}

.missed {
	display: inline-block;
	float: left;
	margin-left: 25px;
}

.remaining {
	display: inline-block;
	float: right;
	margin-right: 25px;
}

.current-question {
	display: inline-block;
	float: right;
}

.score-tracker {
	width: 800px;
	height: 75px;
}

.next-button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	height: 50px;
	font-size: 1.2em;
}

.hidden {
	display: none;
}

.correct-display {
	text-align: center;
}

.correct-text {
	color: green;
}

.incorrect-display {
	text-align: center;
}

.incorrect-text {
	color: red;
}

.result-text {
	text-align: center;
	margin-bottom: 100px;
}

.results-display {
	margin-top: 100px;
}

.rank {
	text-align: center;
	font-size: 3em;
	margin-bottom: 50px;
}

.summary {
	text-align: center;
}

.explainer-text {
	text-align: center;
	font-size: 1.5em;
}

.explainer {
	border: 1px solid grey;
}